<div class="verification">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="alert alert-info alert-dismissible" role="alert">
                <span><strong>IMPORTANT</strong></span>
                <br>Please verify your account before having full access to all the application's features.
            </div>
            <br>
            <p>
                <span>
                    <b>Verify account via email</b>
                </span>
                <a class="pull-right sendEmail" href="">Send an email</a>
            </p>
            <hr>
            <p>
                <span>
                    <b>Verify account via phone number</b>
                </span>
                <a class="pull-right sendCode" href="">Send a code</a>
            </p>
            <br>
            <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-12 col-xs-12">
                <form action="">
                    <div class="form-group">
                        <label for="code" class="control-label">Enter the code</label>
                        <input type="text" class="form-control code" id="code" name="code" autocomplete="off" value="">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm btn-code">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>