<div class="container profile">
    <h4>Profile page</h4>
    <hr>
    <verification></verification>

    <div class="panel panel-default">
        <div class="panel-body">
            <form>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <input
                                    type="text"
                                    class="form-control"
                                    id="username" name="username"
                                    placeholder="Username"
                                    autocomplete="off">

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <input
                                    type="text"
                                    class="form-control"
                                    id="firstname" name="firstname"
                                    placeholder="Firstname"
                                    autocomplete="off">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <input type="text"
                                   class="form-control"
                                   id="lastname"
                                   name="lastname"
                                   placeholder="Lastname"
                                   autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <input
                                    type="text"
                                    class="form-control"
                                    id="phonenumber"
                                    name="phonenumber"
                                    placeholder="Phone number"
                                    autocomplete="off">
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <input
                                    type="email"
                                    class="form-control"
                                    id="email"
                                    name="email"
                                    placeholder="Email"
                                    autocomplete="off">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-success btn-sm">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>